<svelte:head>
	<title>jailbreak</title>
</svelte:head>

<div class="jumbotron bg-green-darkest text-grey-lighter py-4 md:py-16">
	<div class="container mx-auto px-4 flex flex-col md:flex-row md:items-center">
		<div class="my-8 md:my-0">
			<h1 class="font-mono font-normal text-5xl text-green-light">
				jailbreak
				<Blink>█</Blink>
			</h1>
			<div class="mt-8">
				{$_("catchPhrase")}
			</div>
		</div>
	</div>
</div>

<LocaleSwitcher {path} />

<section class="page-section presentation container mx-auto px-4">
	<div class="flex flex-wrap -mx-4">

		<div class="mb-4 px-4 w-full eyebrow-headline">
			{$_('ourExpertise')}
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				{$_("data")}
				<Icon icon={faFolderOpen} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			{@html $_("dataParagraphs")}
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				{$_("webApplications")}
				<Icon icon={faMobileAlt} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			{@html $_("webApplicationsParagraphs")}
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				{$_("devOps")}
				<Icon icon={faTerminal} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			{@html $_("devOpsParagraphs")}
		</div>

		<div class="mb-4 px-4 w-full eyebrow-headline">
			{$_("ourCompany")}
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				{$_("ourCompanyOpen")}
				<Icon icon={faLockOpen} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			{@html $_("ourCompanyOpenParagraphs")}
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				{$_("agile")}
				<Icon icon={faBicycle} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			{@html $_("agileParagraphs")}
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				{$_("involved")}
				<Icon icon={faHandsHelping} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			{@html $_("involvedParagraphs")}
		</div>

	</div>
</section>

<section class="page-section projects container mx-auto px-4">
	<h2 class="section-title">
		{$_("projectsSectionTitle")}
	</h2>

	<div class="flex flex-wrap -mx-4">
		{#each projects as {id, name, imgSrc, links}}
		<div class="mb-8 md:mb-8 px-4 md:w-1/2 lg:w-1/3">
			<div class="card bg-white flex flex-col h-full border rounded shadow">
				<div class="p-4">
					<div class="card-title">
						{name}
					</div>
					<p class="mb-0">
						{$_(`projects.${id}.subTitle`)}
					</p>
				</div>
				{#if imgSrc}
				<img src="{imgSrc}" alt="{name} screenshot" class="card-image" />
				{/if}
				<div class="p-4">
					{@html $_(`projects.${id}.paragraphs`)}
				</div>
				{#if links}
				<div class="p-4 mt-auto border-t">
					{#each links as {name, href}}
					<a {href} class="mr-3" rel="external" target="_blank">
						{name}
					</a>
					{/each}
				</div>
				{/if}
			</div>
		</div>
		{/each}
	</div>
</section>

<section class="page-section team container mx-auto px-4">
	<h2 class="section-title">
		{$_("teamSectionTitle")}
	</h2>
	<img class="block my-6 rounded-lg team-photo" src="jailbreak-team.jpg" alt="Jailbreak team" />
	<div class="flex flex-wrap -mx-4">
		{#each team as {name, role, links}}
		<div class="mb-8 px-4 w-full lg:w-1/4">
			<div class="mini-card-content">
				<h4 class="mb-2">
					{name}
				</h4>
				<p>
					{$_(role)}
				</p>
				<p class="mini-card-links">
					{#each links as {name, href}}
					<a {href} class="mr-3" rel="external" target="_blank">
						{name}
					</a>
					{/each}
				</p>
			</div>
		</div>
		{/each}
	</div>
</section>

<section class="page-section technical-expertise container mx-auto px-4">
	<h2 class="section-title">
		{$_("technicalExpertiseSectionTitle")}
	</h2>
	<div class="flex flex-wrap -mx-4">
		{#each technicalExpertises as {id, links}}
		<div class="mb-8 px-4 w-full md:w-1/3 lg:w-1/4">
			<div class="mini-card-content">
				<h4 class="mb-2">
					{@html $_(`technicalExpertises.${id}.name`)}
				</h4>
				{@html $_(`technicalExpertises.${id}.paragraphs`)}
				<p class="mini-card-links flex flex-wrap">
					{#each links as {name,href}}
					{#if href}
					<a {href} class="mr-3" rel="external" target="_blank">
						{name}
					</a>
					{:else}
					<span class="mr-3">
						{name}
					</span>
					{/if}
					{/each}
				</p>
			</div>
		</div>
		{/each}
	</div>
</section>

<section class="page-section technical-expertise container mx-auto px-4">
	<h2 class="section-title">
		{$_("trainingSectionTitle")}
	</h2>
	{@html $_("trainingParagraphs")}
</section>

<style>
	.team-photo {
		filter: saturate(0.75);
	}
</style>

<script>
	import {
		faFolderOpen,
		faBicycle,
		faMobileAlt,
		faHandsHelping,
		faLockOpen,
		faTerminal
	} from "@fortawesome/free-solid-svg-icons"
	import { isLocale } from "../../i18n.js"

	const projects = [
		{
			id: "dbnomics",
			name: "DBnomics",
			imgSrc: "screenshots/dbnomics.png",
			links: [
				{ name: "db.nomics.world", href: "https://db.nomics.world" },
				{ name: "Gitlab", href: "https://git.nomics.world/dbnomics" },
				{ name: "Twitter", href: "https://twitter.com/dbnomics" }
			]
		},
		{
			id: "validata",
			name: "Validata",
			imgSrc: "screenshots/validata.png",
			links: [
				{ name: "validata.fr", href: "https://validata.fr" },
				{ name: "Gitlab", href: "https://git.opendatafrance.net/validata/" }
			]
		},
		{
			id: "observatoire",
			name: "Observatoire de l’open data",
			imgSrc: "screenshots/observatoire.png",
			links: [
				{ name: "lab.observatoire-opendata.fr", href: "https://lab.observatoire-opendata.fr/" },
				{ name: "Gitlab", href: "https://git.opendatafrance.net/observatoire" }
			]
		},
		{
			id: "digitaltransport",
			name: "Digital Transport",
			imgSrc: "screenshots/digitaltransport.png",
			links: [
				{ name: "DT4A.org", href: "https://digitaltransport4africa.org/" },
				{ name: "Gitlab", href: "https://git.digitaltransport4africa.org/" }
			]
		}
	]

	const technicalExpertises = [
		{
			id: "staticSites",
			links: [
				{ name: "Jekyll", href: "https://jekyllrb.com" },
				{ name: "Hugo", href: "https://gohugo.io" },
				{ name: "Sapper", href: "https://sapper.svelte.technology" },
				{ name: "Gatsby", href: "https://www.gatsbyjs.org" }
			]
		},
		{
			id: "webApplications",
			links: [
				{ name: "JavaScript", href: "https://developer.mozilla.org/fr/docs/Web/JavaScript" }, //
				{ name: "Svelte", href: "https://svelte.technology" },
				{ name: "Sapper", href: "https://sapper.svelte.technology" },
				{ name: "Vue", href: "https://vuejs.org" },
				{ name: "React", href: "https://reactjs.org" },
				{ name: "Elm", href: "https://elm-lang.org" }
			]
		},
		{
			id: "designAndUX",
			links: [
				{ name: "Bootstrap CSS", href: "https://getbootstrap.com" }, //
				{ name: "Tailwind CSS", href: "https://tailwindcss.com" }
			]
		},
		{
			id: "geo",
			links: [
				{ name: "OpenStreetMap", href: "https://www.openstreetmap.org" },
				{ name: "Leaflet", href: "https://leafletjs.com" },
				{ name: "Mapbox GL", href: "https://docs.mapbox.com/mapbox-gl-js/" }
			]
		},
		{
			id: "dataProcessing",
			links: [
				{ name: "PostgreSQL", href: "https://www.postgresql.org" }, //
				{ name: "MongoDB", href: "https://www.mongodb.com" },
				{ name: "Apache Solr", href: "http://lucene.apache.org/solr/" },
				{ name: "Frictionless Data", href: "https://frictionlessdata.io" }
			]
		},
		{
			id: "devOpsAndCloud",
			links: [
				{ name: "GitLab CI", href: "https://docs.gitlab.com/ce/ci/" }, //
				{ name: "Docker", href: "https://www.docker.com" },
				{ name: "Ansible", href: "https://www.ansible.com" }
			]
		},
		{
			id: "languages",
			links: [
				{ name: "Python", href: "https://www.python.org" }, //
				{ name: "NodeJS", href: "https://nodejs.org" },
				{ name: "TypeScript", href: "https://www.typescriptlang.org" },
				{ name: "Elm", href: "http://elm-lang.org" },
				{ name: "Rust", href: "https://www.rust-lang.org" }
			]
		}
	]

	const team = [
		{
			name: "Bruno Duyé",
			role: "developer",
			links: [{ name: "GitHub", href: "https://github.com/brunetton" }]
		},
		{
			name: "Christophe Benz",
			role: "developer",
			links: [
				{ name: "GitHub", href: "https://github.com/cbenz" },
				{ name: "Twitter", href: "https://twitter.com/ChristopheBenz" }
			]
		},
		{
			name: "Johan Richer",
			role: "consultant",
			links: [{ name: "Twitter", href: "https://twitter.com/JohanRicher" }]
		},
		{
			name: "Pierre Dittgen",
			role: "developer",
			links: [{ name: "GitHub", href: "https://github.com/pierredittgen" }]
		}
	]

	export default {
		components: {
			Blink: "../../components/Blink.html",
			Icon: "fa-svelte",
			LocaleSwitcher: "../../components/LocaleSwitcher.html"
		},
		helpers: {
			faBicycle,
			faMobileAlt,
			faHandsHelping,
			faLockOpen,
			faFolderOpen,
			faTerminal,
			projects,
			team,
			technicalExpertises,
		},
		async preload({ params }) {
			const { locale } = params
			if (!isLocale(locale)) {
				return this.error(404, `Locale ${locale} was not found`)
			}
			this.store.i18n.setLocale(locale)
		}
	}
</script>
