<svelte:head>
	<title>jailbreak</title>
</svelte:head>

<div class="jumbotron bg-green-darkest text-grey-lighter py-4 md:py-16">
	<div class="container mx-auto px-4 flex flex-col md:flex-row md:items-center">
		<div class="my-8 md:my-0">
			<h1 class="font-mono font-normal text-5xl text-green-light">
				jailbreak
				<Blink>█</Blink>
			</h1>
			<div class="mt-8">
				Free software for free data
			</div>
		</div>
	</div>
</div>

<section class="page-section presentation container mx-auto px-4">
	<div class="flex flex-wrap -mx-4">

		<div class="mb-4 px-4 w-full eyebrow-headline">
			Our expertise
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				Data
				<Icon icon={faFolderOpen} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			<p>
				As data specialists, we take care of processing, cleaning, rectifying and
				structuring data.
			</p>
			<p>
				We advise local authorities and public administrations that need to work with <em>open data</em> as we know
				ecosystems, repositories, tools (as well as legal framework in France).
			</p>
			<p>
				We design processing chains, from raw data to usable data (publication, extraction of indicators, dashboards,
				etc.).
			</p>
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				Webapps
				<Icon icon={faMobileAlt} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			<p>
				We carry out tailor-made developments or integrate existing applications, always respecting Web codes and standards
				(W3C, UX, SEO, API, micro-services, PWA).
			</p>
			<p>
				We promote the Web as an application platform, on all media.
			</p>
			<p>
				We design state-of-the-art web applications, and modernize your existing applications.
			</p>
			<p>
				We support your digital transformation project, for example when migrating from a proprietary system to an open
				source solution.
			</p>
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				DevOps
				<Icon icon={faTerminal} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			<p>
				We automate and speed-up your applications deployment and guarantee traceability at each step of the process.
			</p>
			<p>
				By adopting a service-centric architecture, we reduce server resources and improve the performance of your
				applications.
			</p>
			<p>
				We give priority to: <em>containers</em>, GitLab CI/CD (intégration continue), Git for the source code and the
				data, static websites.
			</p>
			<p>
				We audit your architecture and offer you the most suitable solution to automate its processes.
			</p>
		</div>

		<div class="mb-4 px-4 w-full eyebrow-headline">
			Our company
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				Opened
				<Icon icon={faLockOpen} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			<p>
				Jailbreak has openness as dna.
			</p>
			<p>
				It applies to source code, data, APIs provided by Jailbreak and even in its inner functioning. We carry this value
				to all domains: public administration, private sector, research, associations...
			</p>
			<p>
				Jailbreak projects are based on standards and software modules developed, supported and maintained by the free
				software communities and <em>open data</em> initiative.
			</p>
			<p>
				Jailbreak thus reinforces the independence of its customers and guarantees the sustainability and interoperability
				of its projects.
			</p>
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				Agile
				<Icon icon={faBicycle} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			<p>
				Jailbreak works in collaboration with its customers, who are themselves actors throughout the project.
			</p>
			<p>
				It integrates humanity into the heart of work processes, adapting the methodology according to the people.
			</p>
			<p>
				She leads projects from start to end, from design to implementation and deployment.
			</p>
			<p>
				It delivers the product continuously, and priorities are reviewed with the customer after each delivery.
			</p>
		</div>
		<div class="mb-8 px-4 w-full md:w-1/2 lg:w-1/3">
			<div class="text-2xl mb-4">
				Involved
				<Icon icon={faHandsHelping} class="text-3xl ml-1 align-bottom text-grey-darkest" />
			</div>
			<p>
				Jailbreak is committed to putting the strength of communities at the service of its customers.
			</p>
			<p>
				Jailbreak's added value is to be able to identify these different communities, interact with them to boost their
				talents.
			</p>
			<p>
				A successful digital transformation project now involves these communities.
			</p>
		</div>

	</div>
</section>

<section class="page-section projects container mx-auto px-4">
	<h2 class="section-title">
		Projects
	</h2>

	<div class="flex flex-wrap -mx-4">
		{#each projects as {name, subTitle, imgSrc, paragraphs, links}}
		<div class="mb-8 md:mb-0 px-4 md:w-1/2 lg:w-1/3">
			<div class="card bg-white flex flex-col h-full border rounded shadow">
				<div class="p-4">
					<div class="card-title">
						{name}
					</div>
					{#if subTitle}
					<p class="mb-0">
						{subTitle}
					</p>
					{/if}
				</div>
				{#if imgSrc}
				<img src="{imgSrc}" alt="{name} screenshot" class="card-image" />
				{/if}
				<div class="p-4">
					{#each paragraphs || [] as paragraph}
					<p>
						{@html paragraph}
					</p>
					{/each}
				</div>
				{#if links}
				<div class="p-4 mt-auto border-t">
					{#each links as {name, href}}
					<a {href} class="mr-3" rel="external" target="_blank">
						{name}
					</a>
					{/each}
				</div>
				{/if}
			</div>
		</div>
		{/each}
	</div>
</section>

<section class="page-section team container mx-auto px-4">
	<h2 class="section-title">
		L'équipe
	</h2>
	<img class="block my-6 rounded-lg team-photo" src="jailbreak-team.jpg" alt="Jailbreak team" />
	<div class="flex flex-wrap -mx-4">
		{#each team as {name, role, links}}
		<div class="mb-8 px-4 w-full lg:w-1/4">
			<div class="mini-card-content">
				<h4 class="mb-2">
					{name}
				</h4>
				<p>
					{role}
				</p>
				<p class="mini-card-links">
					{#each links as {name, href}}
					<a {href} class="mr-3" rel="external" target="_blank">
						{name}
					</a>
					{/each}
				</p>
			</div>
		</div>
		{/each}
	</div>
</section>

<section class="page-section technical-expertise container mx-auto px-4">
	<h2 class="section-title">
		Technical expertise
	</h2>
	<div class="flex flex-wrap -mx-4">
		{#each technicalExpertises as {name, paragraphs, links}}
		<div class="mb-8 px-4 w-full md:w-1/3 lg:w-1/4">
			<div class="mini-card-content">
				<h4 class="mb-2">
					{@html name}
				</h4>
				{#each paragraphs || [] as paragraph}
				<p>
					{@html paragraph}
				</p>
				{/each}
				<p class="mini-card-links flex flex-wrap">
					{#each links as {name,href}}
					{#if href}
					<a {href} class="mr-3" rel="external" target="_blank">
						{name}
					</a>
					{:else}
					<span class="mr-3">
						{name}
					</span>
					{/if}
					{/each}
				</p>
			</div>
		</div>
		{/each}
	</div>
</section>

<style>
	.team-photo {
		filter: saturate(0.75);
	}
</style>

<script>
	import {
		faFolderOpen,
		faBicycle,
		faMobileAlt,
		faHandsHelping,
		faLockOpen,
		faTerminal
	} from "@fortawesome/free-solid-svg-icons"

	const projects = [
		{
			name: "DBnomics",
			subTitle: "The most comprehensive open macroeconomic database available.",
			imgSrc: "screenshots/dbnomics.png",
			paragraphs: [
				"Aggregates hundreds of millions of time series from several dozen sources (INSEE, Eurostat, IMF, WTO, WB...) and makes them available via a single API."
			],
			links: [
				{ name: "db.nomics.world", href: "https://db.nomics.world" },
				{ name: "Twitter", href: "https://twitter.com/dbnomics" }
			]
		},
		{
			name: "Validata",
			subTitle: "Validate your datasets!",
			imgSrc: "screenshots/validata.png",
			paragraphs: [
				"Intended for French local authorities adopting a <em>open data</em> approach, concerned with validating the data they publish.",
				"Goal: Improve data quality and interoperability."
			],
			links: [{ name: "validata.fr", href: "https://validata.fr" }]
		}
	]

	const technicalExpertises = [
		{
			name: "Static websites",
			paragraphs: [`Lightweight, fast, money saving.`],
			links: [
				{ name: "Jekyll", href: "https://jekyllrb.com" },
				{ name: "Hugo", href: "https://gohugo.io" },
				{ name: "Sapper", href: "https://sapper.svelte.technology" },
				{ name: "Gatsby", href: "https://www.gatsbyjs.org" }
			]
		},
		{
			name: "Webapps",
			paragraphs: [`We develop modern web applications and <abbr title="Progressive Web Apps">PWA</abbr>.`],
			links: [
				{ name: "JavaScript", href: "https://developer.mozilla.org/fr/docs/Web/JavaScript" }, //
				{ name: "Svelte", href: "https://svelte.technology" },
				{ name: "Sapper", href: "https://sapper.svelte.technology" },
				{ name: "Vue", href: "https://vuejs.org" },
				{ name: "React", href: "https://reactjs.org" },
				{ name: "Elm", href: "https://elm-lang.org" }
			]
		},
		{
			name: `Web design and <abbr title="User Experience">UX</abbr>`,
			paragraphs: [`We attach importance to producing clear, homogeneous and accessible interfaces.`],
			links: [
				{ name: "Bootstrap CSS", href: "https://getbootstrap.com" }, //
				{ name: "Tailwind CSS", href: "https://tailwindcss.com" }
			]
		},
		{
			name: "Cartography on the web",
			paragraphs: [`Our team is passionate about OpenStreetMap: a great way to showcase your data.`],
			links: [
				{ name: "OpenStreetMap", href: "https://www.openstreetmap.org" },
				{ name: "Leaflet", href: "https://leafletjs.com" },
				{ name: "Mapbox GL", href: "https://docs.mapbox.com/mapbox-gl-js/" }
			]
		},
		{
			name: "Data processing",
			paragraphs: [`Databases, indexing engines, validation.`],
			links: [
				{ name: "PostgreSQL", href: "https://www.postgresql.org" }, //
				{ name: "MongoDB", href: "https://www.mongodb.com" },
				{ name: "Apache Solr", href: "http://lucene.apache.org/solr/" },
				{ name: "Frictionless Data", href: "https://frictionlessdata.io" }
			]
		},
		{
			name: "DevOps and Cloud",
			paragraphs: [`We automate the production chain, from development to deployment.`],
			links: [
				{ name: "GitLab CI", href: "https://docs.gitlab.com/ce/ci/" }, //
				{ name: "Docker", href: "https://www.docker.com" },
				{ name: "Ansible", href: "https://www.ansible.com" }
			]
		},
		{
			name: "Languages",
			paragraphs: ["Selected according to their functionality, ecosystem and performance."],
			links: [
				{ name: "Python", href: "https://www.python.org" }, //
				{ name: "NodeJS", href: "https://nodejs.org" },
				{ name: "TypeScript", href: "https://www.typescriptlang.org" },
				{ name: "Elm", href: "http://elm-lang.org" },
				{ name: "Rust", href: "https://www.rust-lang.org" }
			]
		}
	]

	const team = [
		{
			name: "Bruno Duyé",
			role: "developer",
			links: [{ name: "GitHub", href: "https://github.com/brunetton" }]
		},
		{
			name: "Christophe Benz",
			role: "developer",
			links: [
				{ name: "GitHub", href: "https://github.com/cbenz" },
				{ name: "Twitter", href: "https://twitter.com/ChristopheBenz" }
			]
		},
		{
			name: "Johan Richer",
			role: "opening contractor",
			links: [{ name: "Twitter", href: "https://twitter.com/JohanRicher" }]
		},
		{
			name: "Pierre Dittgen",
			role: "developer",
			links: [{ name: "GitHub", href: "https://github.com/pierredittgen" }]
		}
	]

	export default {
		components: {
			Blink: "../components/Blink.html",
			Icon: "fa-svelte"
		},
		helpers: {
			faBicycle,
			faMobileAlt,
			faHandsHelping,
			faLockOpen,
			faFolderOpen,
			faTerminal,
			projects,
			team,
			technicalExpertises
		}
	}
</script>