<svelte:head>
	<title>{status}</title>
</svelte:head>

<div class="container mx-auto px-4 pt-8">
	<h1 class="page-title">{status}</h1>

	<p>{error.message}</p>

	{#if dev && error.stack}
	<pre>{error.stack}</pre>
	{/if}
</div>

<script>
  export default {
  	helpers: {
  		dev: process.env.NODE_ENV === "development"
  	}
  }
</script>
