<div class="bg-grey-lightest">
	<main class="font-sans">
		<svelte:component this={child.component} {...child.props} />
	</main>

	<footer class="font-sans text-grey-light">
		<div class="container mx-auto px-4">
			<h4 class="my-4 font-mono font-normal text-green-light">
				jailbreak █
			</h4>
			<ul class="links">
				{#if twitterUrl}
				<li>
					{$_("twitterPrefix")}
					<a class="text-green-light" href={twitterUrl} rel="external" target="_blank">
						@jailbreak_paris
					</a>
				</li>
				{/if}
				<li>
					{$_("contactUsPrefix")}
					<a class="text-green-light" href="mailto:contact@jailbreak.paris">
						contact@jailbreak.paris
					</a>
				</li>
				<li>
					{$_("chatWithUsPrefix")}
					<a class="text-green-light" href="https://app.element.io/#/room/#general:jailbreak.paris">
						#general:jailbreak.paris
					</a>
				</li>
			</ul>
			<div class="mt-12 text-grey text-sm">
				<p>
					{$_("copyright", {currentYear: new Date().getFullYear()})}
				</p>
				<a class="text-grey" href="https://gitlab.com/jailbreak/jailbreak.paris/">
					{$_("sourceCode")}
				</a>
			</div>
		</div>
	</footer>
</div>

{@html organizationJsonLdScript}

{#if isMatomoEnabled}
<!-- Matomo -->
{@html matomoScript}
<!-- End Matomo Code -->
{/if}

<script>
	import { matomoBaseUrl, matomoSiteId, twitterUrl } from "../config.js"
	import { matomoTrackingCode } from "../analytics.js"
	import { organizationJsonLd, jsonLdScript } from "../seo.js"

	const isMatomoEnabled = matomoBaseUrl && matomoSiteId

	export default {
		helpers: {
			isMatomoEnabled,
			matomoScript: matomoTrackingCode(matomoBaseUrl, matomoSiteId),
			organizationJsonLdScript: jsonLdScript(organizationJsonLd),
			twitterUrl
		},
		onupdate({ changed, previous, current }) {
			// From https://github.com/sveltejs/sapper/issues/30#issuecomment-437501700
			// Don't track first page load here (otherwise it would be tracked twice),
			// but track the pages navigated with links or Sapper's goto function.
			if (isMatomoEnabled && previous && (changed.path || changed.query)) {
				window["_paq"].push(["trackEvent", current.path])
			}
		}
	}
</script>
