<div class="text-right m-2">
	{#each localesNames as [locale, localeName], index}
	{#if $locale === locale}
	{localeName}
	{:else}
	<a href="/{locale}{pathWithoutLocale}">{localeName}</a>
	{/if}
	{#if !isLast(localesNames, index)}
	<span class="mx-2">/</span>
	{/if}
	{/each}
</div>

<script>
	import { isLocale, localesNames } from "../i18n.js"
	export default {
		computed: {
			pathWithoutLocale({ path }) {
				const fragments = path
					.replace(/\/$/, "")
					.replace(/^\//, "")
					.split("/")
				return isLocale(fragments[0]) ? `/${fragments.slice(1).join("/")}` : path
			}
		},
		helpers: {
			isLast(list, index) {
				return index === list.length - 1
			},
			localesNames
		}
	}
</script>